.[numpy,pandas,pyarrow]

# for local development
pre-commit>=4.2.0
isort>=6.0.1

# for unit tests
tox>=4.25.0
pytest>=8.3.5
pytest-benchmark>=5.1.0

# for Python driver's TestKit backend
freezegun>=1.5.1

# for packaging
maturin~=1.9.1
towncrier>=24.8.0
